<h1>Instrukcja obsługi Termostatu</h1>
<div>
    <ul>
        <li>Użytkownik musi się zarejestrować lub zalogować, by mieć dostęp do funkcji strony internetowej.</li>
        <li>Po zalogowaniu użytkownik ma możliwość stworzenia mieszkania.</li>
        <li>Użytkownik może dodać jednego dodatkowego użytkownika do swojego mieszkania.</li>
        <li>Dodatkowy "mieszkaniec" ma uprawnienia tylko do podglądu detali mieszkania.</li>
        <li>Obaj użytkownicy mieszkania mogą tworzyć harmonogramy.</li>
        <li>Dla każdego harmonogramu można zobaczyć szacowany koszt ogrzewania.</li>
    </ul>
</div>