@model Ustaw_temperature.Models.Mieszkanie

@{
    ViewData["Title"] = "Edit";
}

<h1>Edycja</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LiczbaOkien" class="control-label"></label>
                <input asp-for="LiczbaOkien" class="form-control" />
                <span asp-validation-for="LiczbaOkien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiczbaPokoi" class="control-label"></label>
                <input asp-for="LiczbaPokoi" class="form-control" />
                <span asp-validation-for="LiczbaPokoi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BazowaTemperatura" class="control-label"></label>
                <input asp-for="BazowaTemperatura" class="form-control" />
                <span asp-validation-for="BazowaTemperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
